/* CreateSpotForm.css */
.create-spot-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.create-spot-form section {
  margin-bottom: 20px;
}

.create-spot-form h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.create-spot-form p {
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 10px;
}

.create-spot-form input,
.create-spot-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-spot-form button {
  background-color: #ff385c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.create-spot-form button:hover {
  background-color: #e03150;
}
.error-message{
  color: red
}